extend header

block content
    main
      .row
          #one.col-sm-4
            img.rounded.mx-auto.d-block(src='images/pic.jpg' alt='picture')
            p
              b Vraj Patel
          #two.col-sm-8
            h1 About Me!
            p A persistent and dedicated student with knowledge of computer programming and systems. Currently looking for a co-op position in the Technology Industry where I can contribute to the organization to the best of my ability, by utilizing my current skills and working team members to build new ones.
            h3 SOFT SKILLS
            p    •	Ability to work individually and in the team by using strategic thinking 
            p    •	Excellent problem analysis skill, use of judgment and ability to solve problems efficiently
            p    •	Willingness to learn, E-learning Enthusiast which helps me to gain knowledge in order to work independently and proactively
            p    •	Excellent organizational skills and ability to prioritize workload
            p    •	Ability to work under pressure by using time management skill
            p    •	Leading with emotional intelligence
            p    •	Solid communication and interpersonal skills
            p    •	Self-motivated, and can complete a challenging task with perseverance
            h3    TECHNICAL SKILLS
            p    •	Proficient in MS Office such as Word, Excel, Access, Outlook, PowerPoint
            p    •	Knowledge of Software Development Life cycle (SDLC)
            p    •	Basic Knowledge of ITIL Process
            p    •	Solid practical understanding of Web Designing in HTML, CSS, PHP, and JavaScript
            p    •	Extensive knowledge of Database management by using MySQL and Microsoft SQL server
            p    •	Troubleshooting hardware and software problems
            p    •	Ability to install software, operating systems, and applications
            p    •	Experienced with Re-imaging, installing PC Hardware, Software and Operating system on computers 
            p    •	Sound knowledge in math such as basic math, arithmetic, statistics
            p    •	Familiar with Programming such as Basics in C, Java, C# using a .NET framework, ASP.NET

    block content
        include footer