extends header

block content
    #con.container
      h3 CONTACT ME
      form(action='https://formcarry.com/s/QYtIKe-pGHU2' method='POST' acceptcharset='UTF-8')
        .form-group
          label(htmlfor='usr') First_Name:
          input#usr.form-control(type='text' name='first_name')
          .form-group
          label(htmlfor='usr') Last_Name:
          input#usr.form-control(type='text' name='last_name')
          .form-group
          label(htmlfor='phone') Phone:
          input#phone.form-control(type='text' name='phone')
        .form-group
          label(htmlfor='email') Email:
          input#email.form-control(type='email' name='email')
        
        .form-group
          label(htmlfor='message') Message:
          textarea#message.form-control(rows='10' name='message')
          br
          button.btn.btn-danger(type='submit') Submit
    block content
        include footer