extends header

block content
    section
      
        .col-sm-12
          img(src='images/Basketball.png' alt='Basketball')
          h1 Basketball league by using .net
        .col-sm-12
          img(src='images/Cardealership.png' alt='Cardealership')
          h1 Cardealership by using C#
      
        .col-sm-12
          img(src='images/scrabble.png' alt='scrabble')
          h1 Scrabble by using JAVA
        .col-sm-12
          img(src='images/todolist.png' alt='todolist')
          h1 Todo list by using JavaScript
      
        .col-sm-12
          img(src='images/Website.png' alt='Website')
          h1 Restaurants Website By using Simple HTML and CSS
    block content
        include footer