extends header

block content
    section
        .col-sm-12
          h1 JAVA
          h1 Database
          h1 Linux
          h1 JavaScript
          h1 Swift
    block content
        include footer